* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
.back-image {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0.4, 0.2),
      rgb(8, 8, 8)
    ),
    url(images/donation5.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.head-section {
  color: whitesmoke;
  text-align: center;
  padding-top: 15%;
}
.head-section h1 {
  font-weight: 900;
  font-size: 50px;
}

.head-section p {
  width: 50%;
  padding-left: 25%;
  padding-top: 20px;
  padding-bottom: 3%;
}

.link-button {
  text-decoration: none;
  color: whitesmoke;
  background-color: cadetblue;
  padding: 15px 32px;
  border-radius: 10px;
}

.donate-today {
  padding-top: 100px;
  text-align: center;
  padding-bottom: 100px;
}

.donate-sec h1 {
  font-weight: 900;
  font-size: 40px;
}

.donate-sec p {
  width: 50%;
  padding-left: 25%;
  padding-top: 20px;
  padding-bottom: 5%;
  color: rgb(121, 120, 120);
}

.money-sec {
  display: flex;
  padding-left: 25%;
  padding-bottom: 5%;
}
.money-sec h1 {
  color: rgb(88, 86, 86);
  background-color: rgba(187, 187, 187, 0.212);
  height: 70px;
  width: 130px;
  margin: 10px;
  padding-top: 40px;
  border-radius: 5%;
}

#bordercolor {
  color: cadetblue;
  border: 2px solid cadetblue;
}

#input-tk {
  border: none;
  border-bottom: 2px solid rgba(88, 86, 86, 0.26);
  width: 50%;
  text-align: center;
  padding-bottom: 15px;
  font-size: 15px;
}
.input-sec {
  padding-bottom: 30px;
}

.linkbutton {
  text-decoration: none;
  color: whitesmoke;
  background-color: cadetblue;
  padding: 15px 32px;
  border-radius: 10px;
}

.plan-heading {
  text-align: center;
}

.donate-plan {
  padding-bottom: 100px;
}

.plan-card {
  display: flex;
  text-align: left;
  padding: 5px 150px;
}

.card-1 {
  width: 50%;
  margin-left: 2%;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 25px;
  border-radius: 5px;
}
#card-1-color {
  background-color: rgba(222, 184, 135, 0.158);
}
#card-2-color {
  background-color: rgba(135, 222, 218, 0.13);
}
#card-3-color {
  background-color: rgba(189, 118, 230, 0.158);
}
.card-1 img {
  padding-top: 40px;
  padding-bottom: 30px;
}

.card-1 h3 {
  padding-bottom: 30px;
}
.mission {
  padding-bottom: 100px;
}
.mission-com {
  display: flex;
}

.mission-body {
  color: rgb(15, 15, 14);
  background-color: rgba(150, 97, 180, 0.24);
  height: 340px;
}
.mission-left-sec {
  padding-top: 5%;
  padding-left: 80px;
}

.mission-left-sec h1 {
  font-size: 40px;
  padding-bottom: 10px;
}

.mission-left-sec p {
  padding-bottom: 40px;
  padding-right: 90px;
}

.mission-button {
  text-decoration: none;
  color: whitesmoke;
  background-color: rgb(98, 158, 135);
  padding: 15px 32px;
  border-radius: 10px;
}

.update-sec {
  text-align: center;
  padding-bottom: 100px;
}

.update-head {
  padding-bottom: 50px;
}

.update-head h1 {
  font-size: 40px;
  padding-bottom: 20px;
}

.update-head p {
  width: 50%;
  padding-left: 25%;
  padding-top: 20px;
  padding-bottom: 2%;
  color: rgb(121, 120, 120);
}

form {
  padding: 80px;
  margin: 0px 200px;
  background-color: rgba(222, 184, 135, 0.158);
}

#mail-input {
  background-color: rgba(121, 120, 120, 0.24);
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  height: 35px;
  width: 40%;
  text-align: left;
  border-radius: 5px 0px 0px 5px;
}

button {
  border: none;
}

.submit-button {
  text-decoration: none;
  color: whitesmoke;
  background-color: rgb(98, 158, 135);
  padding: 15px 32px;
  margin-left: -25px;
  border-radius: 0px 5px 5px 0px;
}

footer {
  background-color: rgba(100, 148, 237, 0.432);
  color: rgb(89, 82, 151);
  text-align: center;
  padding: 3%;
}

footer h2 {
  font-size: 40px;
  padding-bottom: 10px;
  font-family: "Lobster", cursive;
}
